# Organização de Vídeos ICT 2019-2020

## Inicialização

In [1]:
# Incluindo diretório scripts no caminho
from glob import glob
import sys
import os
sys.path.insert(0, './DATA/')

In [2]:
# show result from all calculations of the cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
# pacotes básicos
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('max_colwidth',250)
import unidecode
import re
import argparse
from argparse import Namespace

## Testando Integridade dos dados

In [4]:
import videolist as vd

In [21]:
tipo = Namespace(type='UA')

In [32]:
df1 = vd.do_list()
df_sel = vd.do_subset(df1,'UA')

In [35]:
df1.columns

Index(['ID', 'TITULO', 'DOCENTE', 'CENTRO', 'UA', 'AREA', 'ALUNO', 'CPF_ALUNO',
       'BOLSA', 'TIPO', 'CPF', 'TIMESTAMP', 'EMAIL', 'NOME', 'CPF_ORIENTADOR',
       'LINK_VIDEO', 'title', 'description', 'category', 'keywords'],
      dtype='object')

In [42]:
dfS = []
for item in df_sel['CRITERIO'].unique():
    df1 = df_sel[df_sel['CRITERIO']==item].iloc[0,2]
    dfS.append(df1[['ID','LINK_VIDEO']])
teste = pd.concat(dfS)
teste

       ID                         LINK_VIDEO
46   7733  16ubBh2OqK_dVFdRQf0rWw_49WMq2KxZp
127  7875  1BxcGAn9rIS_lQ18Uia6d-MRm95b03ByH
74   7708  1xvO4VaZXMHDHgFtg4JqR2NAKLMJYCd4_
88   7776  1u97RXkJ32UczZvQpwPVp3smAR4pWHry6
84   7840  1YvdHk21wFDWyhdzHWfPQq8A0RioC0Ze7
..    ...                                ...
198  8119  1WqTc5_xa1JleHzs4UeLMpHTV6mk1ktAb
49   7635  1_Lpk8ryDMh6Ux2h3PPBJXt2qin0bmyBO
75   7713  19H1fxE5hMdqOxOhsAe9DBGIXYKSmduKF
6    7488  1XQnDbSHAgT_gA0iSoHli5o7oslqWBK9E
29   7578  1ryu7uhqmHpMb9yEENAv8ujStVksDwnhQ

[201 rows x 2 columns]

In [44]:
teste['ID']=teste['ID'].astype(str)
teste.describe()

          ID                         LINK_VIDEO
count    201                                201
unique   201                                201
top     8193  18l2zX66Z3m5jX878zcisiyAAJyAizV_a
freq       1                                  1